.git
.github
.gitignore
.build_last_config
docker-compose.yml
docker-build/*
!docker-build/config.json
!docker-build/frontend.env.production
!docker-build/next.config.js
!docker-build/nginx.conf
!docker-build/supervisord.conf
!docker-build/entrypoint.sh
backend/data
backend/logs
backend/uploads
backend/.cache
frontend/.next
frontend/node_modules
frontend/coverage
plugins
docs
*.tar
*.tar.gz
